.idea/
backend/venv/
backend/api/__pycache__/
backend/backend/__pycache__/
backend/api/__pycache__/
backend/ctrl/__pycache__/
backend/api/models/__pycache__/_
backend/api/endpoint/__pycache__/
backend/api/migrations/__pycache__/
backend/authentication/__pycache__/
backend/authentication/migrations/__pycache__/
backend/authentication/urls/__pycache__/
backend/authentication/social/__pycache__/
backend/authentication/social/token/__pycache__/
backend/.env

frontend/node_modules
frontend/.idea
